/* default css start */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff
    url('../images/preloader.gif')
    no-repeat center;
    z-index:9999;
}
@media (min-width: 1200px){
    #toggle-menu{
        display: none;
    }
    
}


/* default css end */

/* Scroll Button Styling Start */
.scroll-div-btn {
    display: flex;
    z-index: 2;
    position: absolute;
    top:95%;
    left: 50%;
    transform: translate(-50%,-95%);
    flex-direction: column;
    align-items: center;
}
.scroll-div-txt{
    font-size: 0.9rem;
    color:white;
    transition: 0.2s;
}
.scroll-div-txt:hover{
    font-size: 1rem;
    font-weight: bold;
}

/* Scroll Button Styling End */


/* Landing Page Home Container */

.home-container {
    height: 95vh;
    background-color: #24262b;
    padding: 0rem 6rem;
    display: flex;
    flex-direction: row;
}

.btn-default {
    border: none;
    padding: 0.6rem 3.5rem;
    border-radius: 15px;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.dark, .light:hover {
    color: white;
    background-color: #f3223b;
    cursor: pointer;
    transition: 0.2s;
}

.light, .dark:hover {
    border: 1px solid#f3223b;
    color: #f3223b;
    background-color:white ;
    cursor: pointer;
    transition: 0.2s;
}
.left-column{
    flex: 0.5;
    margin: auto 0;
}
.right-column{
    flex: 1;
    padding-left: 5rem;
}
.home-txt{
    color:white;
    text-transform: capitalize;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    line-height:6rem;
}
.home-txt>span{
    color:#f3223b;
    text-transform: uppercase;
}
.whyus-container {
    height: 60vh;
    padding: 0rem 6rem;
    display: flex;
    flex-direction: row;
}
.whyus-txt{
    margin: 3rem 0;
    text-align: center;
    color:#24262b;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    word-spacing: 0.05rem;
}
.whyus-txt>span{
    color:#f3223b;
    text-transform: uppercase;
}
.whyus-container>.left-column{
    flex: 1;
    margin: auto 0;
}
.whyus-container>.right-column{
    flex: 1;
    padding-left: 5rem;
}
.whyus-container>.left-column>.home-txt{
    color:#24262b;
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    line-height:5rem;
}
.whyus-container>.left-column>.home-txt{
    color:#24262b;
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    line-height:4rem;
    padding: 0 10%;
}
.whyus-container>.left-column>.home-txt>span{
    color:#f3223b;
    text-transform: uppercase;
    font-weight: bold;
}
.non-veg,.veg{
    text-transform: capitalize;
}
.veg{
    background-color: #228B22 !important;
    
}